{{extend 'loginLayout.html'}}
<div class="container-fluid">
    <div class="row h-100">
      <div class="col"></div>
      <div class="col-4 m-auto">
        <h1 class="text-center pb-3">Sign UP</h1>
        <form class="" action="" method="post">
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
          </div>
          <div class="form-group text-center">
            <button type="submit" name="button" class="btn btn-primary btn-block ">Login</button>
          </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
